*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class ^= "box-"]{
    place-items: center;
    border: solid 5px orangered;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1, );
    color: black;
}
body{
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}


.master-container img{
    width: 100px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.master-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 20px auto;


}
.card{
    background: rgba(222, 255, 255, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    border-radius: 20px;

}
.card .info{
    background: darkblue;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    color: white;


}